:root{
  --olive-green:#014038;
  --cloud-sky: #f7f7f7;
  --sunlit-petal: #f0c06d;
  --sky-bloom: #bdd4da;
  --meadow-mist: #96baa0;
}

* {
  box-sizing: border-box;
}



.header {
  background-color: var(--cloud-sky);
  display:grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 5px auto auto; 
  width: 100vw;
  height: 17vh;
  padding: 10px;
  overflow: hidden;
  @media(max-width: 550px) {
    grid-template-rows: 5px 30px 50px; 
    
  }
  @media(max-width: 370px) {
    grid-template-rows: auto 30px auto;
    grid-template-columns: auto auto auto;
    height: 15vh;
  }
}

#logo-link {
  width: 100px;
  height: 100px;
}

#logo {
  grid-row: 1 / -1;
  grid-column: 1;
  @media(max-width: 370px) {
    width: 50px;
    height: 50px;
  }
}

#logo img {
  width: 100px;
  height: 100px;
  align-items: center;
  align-content: center;
  @media(max-height: 1080px){
    width: 75px;
    height: 75px;
  }
  @media(max-width: 370px) {
    width: 50px;
    height: 50px;
  }
  @media(min-width: 1200px) {
    width: 115px;
    height: 115px;
  }
}

#company-name-container {
  grid-row: 1 / 3;
  grid-column: 2;
  align-content: center;
  line-height: 0px;

}

#company-name {
  text-align: center;
  color: #014038;
  font-size: 4vw;
  margin: 0px;
  @media(min-width: 1080px) {
    font-size: 3vw;
    
  }
}

#nav {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
}

nav a {
  display: inline-block;
  color:var(--sunlit-petal);
  padding: 5px;
  border-radius: 0.2rem;
  text-align: center;
  text-decoration: none;
    @media(max-width: 550px){
      font-size: .75rem;
    }
}

nav a[aria-current='page'] {
  color: var(--olive-green);
  font-weight: 700;
}

.current {
  color: var(--olive-green);
  font-weight: 700;
}

#shopping-cart {
  grid-row: 2;
  grid-column: 3;
  color: #014038;
  padding: 5px;
  justify-self: center;
  align-content: center;
}

#cart-modal {
  visibility: hidden;
  background-color: var(--meadow-mist);
  border-radius: 5px;
  border: 2px solid var(--olive-green);
  justify-self: right;
  position: fixed;
  z-index: 2;
}


.modal-content h3{
  justify-self: center;
}

.close{
  cursor:pointer;
  margin-left: 160px;
}

.cart-button{
  cursor:pointer;
  width: 50px;
  height: 50px;
  visibility: visible;
  color: var(--olive-green);
  background: none;
  border-style:solid;
  border-width: 0.5px;
  border-color: var(--sunlit-petal);
  border-radius: 5px;
  box-shadow: 1px 1px 4px var(--sunlit-petal); 
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  height: 100vh;
  /*overflow: hidden;*/
}

#main {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 85vh;
  background-color: var(--olive-green);
  overflow: scroll;
}

/*#main-gallery {
  display: grid;
  grid-template-columns:  auto auto;
  grid-template-rows: 15px auto auto;
  text-align: center;
  height: 85vh;
  background-color: var(--olive-green);
  overflow: scroll;
  justify-items: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
}*/

#main-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
  grid-gap: 10px;
  height: 85vh;
  background-color: var(--olive-green);
  overflow: scroll;
  justify-items: center;
  padding-bottom: 5vh;
}

#banner{
  border-style: inset;
  border-color: var(--olive-green);
  background-image: url("Assets/Client1_BirchTree.png");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#banner h2{
  font-size: 50px;
  color: black;
  text-shadow: 1px 2px 7px var(--sunlit-petal);
  @media(max-width: 575px){
    font-size: 20px;
  }
}

.category {
  background-color: var(--cloud-sky);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px, solid, var(--meadow-mist);
  text-align: center;
  height: 25vh;
  }

  .category a {
    font-size: 10vw;
    color: var(--cloud-sky);
    text-shadow: #014038 0px 0px 7px;

  }

  .category a:hover {
    font-size: 11vw;
  }

 .category a:link, .category a:visited {
    text-decoration: none;
}

.category-tab{
  background-color: var(--meadow-mist);
  align-self: center;
  justify-self: center;
  /*grid-row: 1;
  grid-column: 1 /3 ;*/
  display: flex;
  width: 100vw;
  height: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.category-tab button{
  background:none;
  border: none;
  color: var(--sunlit-petal);
  margin: 0px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.tab{
  border-radius: 5px 5px 0px 0px;
  padding-bottom: 2px;
  margin: 0px;
}


.category-tab a {
  text-decoration: none;
  color: var(--cloud-sky);
}
.category-tab a:visited {
  text-decoration: none;
  color: var(--cloud-sky);
}

.category-tab a:active {
  text-decoration: underline;
  color: var(--cloud-sky);
}

.category-tab > div {
  font-size: large;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 0px;
  line-height: 0px;
}

.category-tab a[aria-current='tab']{
  font-weight: 700px;
  color: var(--sunlit-petal);
  background-color: var(--olive-green);
  border-radius: 5px 5px 0px 0px;
  padding: 0px 5px 1px 5px;
}

.category-tab button:hover{
  text-decoration: underline;
  cursor: pointer;
}

#trees {
  background-image: url("Assets/Client1_AppleTree.png");
  background-repeat: no-repeat;
  background-position: center;
}

#plants {
  background-image: url("Assets/Client1_SpiderPlant.png");
  background-repeat: no-repeat;
  background-position: center;
}

#accessories {
  background-image: url("Assets/Client1_WateringCan.png");
  background-repeat: no-repeat;
  background-position: center;
}

.tab{
  background: var(--olive-green);

}

.product{
  height:min-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin:15px;
  background-color:var(--cloud-sky);
  padding: 10px;
  overflow: hidden;
  max-width: 400px;
}


.product-name {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-name h2 {
  margin: 2px;
}

/*.product:nth-of-type(1){
  grid-row: 2;
  grid-column: auto;
}

.product:nth-of-type(2){
  grid-row: 2;
  grid-column: auto;
}

.product:nth-of-type(3){
  grid-row: 3;
  grid-column: auto;
}*/


.product img{
  width: 95%;
}

.product-image img {
  border-radius: 10px;
  object-fit: fill;
}

.description {
  font-size: 12px;
}

.description p {
  margin: 2px;
}

.cart-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20px;
  margin: 5px;
}

.add-to-cart{
  display: flex;
  justify-content: center;
  align-content: center;
}

.add-to-cart button {
  /*background-color: var(--sunlit-petal);*/
  /*border: none;*/
  border: 2px solid var(--sunlit-petal);

 /*     */



  border-radius: 5px;
  box-shadow: 1px 1px 4px var(--sunlit-petal);
  /*box-shadow: 2px 2px 5px var(--olive-green);*/
  position:relative;
  margin-left: 2px;
}

.add-to-cart button:hover {
  transform: translate(-1px, -1px);
}

.add-to-cart button:active {
  transform: translate(1px, 1px);
}

.price {
  margin: 2px;
  position:relative;
}

.price p {
  margin: 0px 2px 0px 0px;
}

#webform {
  height: 70vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin:15px;
  background-color:var(--cloud-sky);
  padding: 10px;
  align-items: center;
  overflow: hidden;
  line-height: 2px;
}

textarea {
  height: 200px;
  width: 60vw;
}

#about-us-card{
  height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin:15px;
  background-color:var(--cloud-sky);
  padding: 10px;
  overflow: scroll;

}

#contact {
  background-color:#96baa0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 20px auto;
  align-items: center;
  padding-bottom: 10px;
  position: fixed;
  width: 100vw;
  height: 10vh;
  top: 97%;
  left: 0px;
  align-items: center;
  justify-items: center;
  animation: bounce 5s linear;
  animation-iteration-count: infinite;
}

@keyframes bounce{
  30%, 50%, 80%,to{
    transform: translateY(0)
  }
  40%,  90%{
    transform: translateY(-7px);
  }
}

#contact p {
  color: var(--olive-green);
}

#contact:hover {
  top: 90%;
  animation: none;
}

#phone-number {
  grid-column: 1;
  grid-row: 2;
}

#bloomemail {
  grid-column: 3;
  grid-row: 2;

}

hr {
  grid-column: 1 / -1;
  grid-row: 1;
  height: 5px;
  color:#014038;
  background-color: #014038;
  border: none;
  width: 50vw;
  box-shadow: 2px 2px 3px black;
}

#subscribe-button {
  background-color:var(--sunlit-petal);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
}

#subscribe-button a {
  color:var(--olive-green);
  text-decoration: none;
}

#subscribe-button:hover, .cart-button:hover {
  transform: translate(-1px, -1px);
}

#subscribe-button:active, .cart-button:active {
  transform: translate(1px, 1px);
}


main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  display: none;
}

.cat-button {
  visibility: hidden;
}